@model List<ElectroWeb.Models.MaterialModel>

@{
    ViewData["Title"] = "Demo de Carga de Archivos";
}

<h1>@ViewData["Title"]</h1>

<h2>@ViewBag.Message</h2>

<form asp-controller="Home" asp-action="Subir" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="xmlFile">Seleccione un archivo XML</label>
        <input type="file" name="xmlFile" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>
</form>

<h1>Materiales</h1>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Valor Unitario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in Model)
            {
                <tr>
                    <td>@material.Descripcion</td>
                    <td>@material.ValorUnitario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron materiales.</p>
}
